<table align='center' height='300px'>
	<tr><td><div style=" border-color:#D3D3D3 solid;">
		<img src="../images/bg/logo.png"style="border-radius: 50%;width:100px;height:auto;"/>
		<hr /><hr />
	</div></td></tr>
	
	<tr><td><%-loginbean.nicheng%>的管理空间</td></tr>
  <tr><td><a href='./' style="text-decoration:none; text-emphasis-color: #000000;text-line-through-color: #245269;">店员管理</a></td></tr>
  <tr><td><a href='./menu' style="text-decoration:none; text-emphasis-color: #000000;text-line-through-color: #245269;">菜单管理</a></td></tr>
</table>