

                <form name='shopsloginForm' action='/shops/login' method="post">
                    <table height='240' style='float:left'>
                        <tr>
                            <td colspan='2' align="center">
                            </td>
                        </tr>
                        <tr>
                            <td align='right'><h4>email：</h4></td>
                            <td>
                                <input type='text' class="form-control" name='email'/>
                            </td>
                        </tr>
                        <tr>
                            <td align='right'><h4>密码：</h4></td>
                            <td>
                                <input type='password' class="form-control" name='pwd'/>
                            </td>
                        </tr>
                        <tr>
                            <td align='center' colSpan='2'>
                                <input type="submit" class="btn btn-warning" value='登 陆'/>
                            </td>
                        </tr>
                    </table>
               </form>