<% include ./shoptop %>

<div class="row move"  >
	<div class="col-sm-2 leftbox" >
		<% include ./shopleft %>
	</div>
	<div class="col-sm-9 clerkbody" style='text-align: center;'>
		<% include ./clerks %>
	</div>
	<div class="col-sm-1"></div>
</div>
</body>

</html>